#MainSettings {
    width: 300px;
}

.paramname {
    width: 60px;
    float: left;
    padding-bottom: 1px;
    color: blue;
}

button {
    margin: 50px;
}

label {
    color: blue;
    width: 50px;
}

input {
    width: 200px;
    margin-bottom: 50px;
}