button.LeaveMainLobbyMenu {
    margin: 5px 0px 5px 750px;
    width: 40px;
    height: 40px;
    clear: both;
}

h2 {
    font-size: 18px;
    margin-top: 0px;
    color: blueviolet;
}

#MainLobbyMenu {
    position: absolute;
    left: 20%;
    top: 10%;
    width: 800px;
    height: 800px;
    background-color: brown;
}

#CreateLobby {
    background-color: black;
    width: 300px;
    height: 650px;
    float: left;
}

input.lobbyName {
    width: 100px;
}

input.lobbyPassword {
    width: 100px;
}

input.lobby {
    width: 13px;
}

#JoinLobby {
    background-color: black;    
    margin-left: 350px;
    width: 450px;
    height: 650px;
}

#UnderCreateLobby {
    margin-top: 300px;
    width: 200px;
    height: 50px;
    position: static;
}

#UnderJoinLobby {
    top: 630px;
    left: 450px;
    margin-top: 0px;
    width: 200px;
    height: 50px;
    position: absolute;
}

button.LobbyBtn {
    margin-top: 30px;
}

.rad {
    position: relative;
    top: 0px;
    margin-bottom: 10px;
    height: 20px;
}

.password {
    position: absolute;
    top: 600px;
    left: 500px;
}

.passwordlabel {
    position: absolute;
    top: 595px;
    left: 430px;
}